/* styles.css */

.container {
    box-sizing: border-box;
    display: flex;
    width: 642px;
    height: 642px;
    border: 1px solid black;
}

.gridbox {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid white;
}